/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

#map_canvas {
   width: 100%;
   height: 400px;
}

.socialfooter{
   padding-left: 108px;
}

.socialfooter .icon-list{
   min-width: 48px;
   position:relative;
   transition-property: all;
   transition-duration: 0.8s;
   color: white;
}

.socialfooter .icon-list:hover{
   color:#0082c8;
   position:relative;
   padding-left:15px;
}

.iconlistmidright .icon-list {
   color:#0082c8;
   min-width:15px;
}


.iconlistmidright .icon-list :hover{

}

.iconlistmidright {
   padding: 0;
   list-style-type: none;
}

.iconlistmidleft .icon-list {
   color: #0082c8;
   min-width: 15px;
}

.iconlistmidleft a{
   padding: 0;
   list-style-type:none;
   color:white;
   transition-property: all;
   transition-duration: 0.3s;
}

.iconlistmidleft a:hover{
   text-decoration: none;
   color: #acacac;
}

body {
   background: #ececec;
   font-weight: 300;
   ::selection {
      background: @atomic-red; /* Safari */
      }
   ::-moz-selection {
      background: @atomic-red; /* Firefox */
   }
}

.container {
   padding: 0;
}

.masthead {
   background: url("../../assets/img/masthead-img.jpg") no-repeat;
   background-size: cover;
   height: 500px;
   text-align: center;
   padding-top: 75px;
   color: #fff;
   .logo {
      height: 150px;
      width: auto;
      margin-top: 20px;
   }
   h1 {
      font-family: 'Domine', serif;
      font-size: 100px;
      font-weight: 700;
      margin-top: 0;
      text-shadow: 2px 2px 2px rgba(0,0,0,.8);
   }
   p{
      font-size: 25px;
      text-shadow: 2px 2px 2px rgba(0,0,0,.8);
   }
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   border-radius: 0;
   margin-bottom: 0;
   border: none;
}

.navbar-collapse {
   padding: 0;
}

.search {
   .input-group {
      width: 200px;
   }
   .form-control{
      background: darken(#333, 50%);
      color: #fff;
      border: none;
      border-radius: 0;
      display: none;
      &:focus{
         box-shadow: none;
      }
   }
   margin-top: 7px;
   .search-button {
      background: transparent;
      color: #fff;
      border: none;
      border-radius: 0;
      display: none;
   }
}

@media (min-width: @screen-md-min) {
.search {
   .form-control{
      display: block;
   }
   .search-button {
      display: block;
   }
}
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
   margin: 0;
   width: 100%;
   .page-header{
      display: none;
   }
   .content-img {
      width: 100%;
      text-align: center;
      padding: 1%;
   }
}

.post {
   width: 100%;
}

.published {
   display: none;
}

.entry-title, .published, .byline {
   text-align: center;
}

.full-img {
   width: 100%;
   height: auto;
   margin: 25px 0px;
   img {
      width: 100%;
   }
}

.entry-content {
   padding: 10px 15%;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   padding: 0;
}

.su-posts .col-md-6 {
   padding: 0;
}

.su-posts .col-sm-6 {
   padding: 0;
   margin: 0;
}

.su-posts {
   .su-post {
      overflow: hidden;
      background: #fff;
      height: 500px;
      float: left;
      margin-bottom: 0 !important;
      .su-post-title, .su-post-meta, .su-post-excerpt, .su-post-comments-link {
         width: 100%;
         padding-left: 10px;
         padding-right: 10px;
         font-size: 90%;
      }
      .su-post-title {
         padding-top: 20px;
      }
   }
   .su-post-thumbnail {
      float: right;
      width: 100%;
      height: 500px;
      margin-right: 0;
      overflow: hidden;
      img{
         height: auto;
         width: 100%;
      }
   }
}


.about-atomic {
   width: 100%;
   min-height: 500px;
   background: #fff;
   padding: 5%;
   color: #666;
   .about-info{
      max-height: 500px;
      background: #fff;
      p {  
         text-align: center;
         font-family: 'Domine', serif;
         font-weight: 400;
         font-size: 18px;
      }
   }
   .recent-case {
      max-height: 500px;
      text-align: center;
      background: #fff;
      h3{
         margin: 0;
         font-family: 'Domine', serif;
         font-weight: 400;
      }
   }
   .widget_sp_image{
      img{
         width: 100%;
         height: auto;
      }
   }
}

@media (min-width: @screen-lg-min) {
   .about-atomic {
      .about-info{
         p{
            font-size: 18px;
         }
      }
   }
}

@media (min-width: @screen-md-min) {
   .su-posts {
      .su-post {
         height: 300px;
      }
      .su-post-thumbnail {
         height: 300px;
         img{
            height: 300px;
            width: auto;
         }
      }
   }
}

@media (min-width: @screen-lg-min) {
   .su-posts {
      .su-post {
         height: 300px;
      }
      .su-post-thumbnail {
         height: 300px;
         img{
            height: 300px;
            width: auto;
         }
      }
   }
}

.projects-container {
   width: 100%;
   height: auto;
   background: #fff;
   position: relative;
   margin: 0;
   padding: 0;
   z-index: 1;
   .projects-interior {
      height: 400px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: #000;
      img{
         transition: all 0.3s ease-in-out;
      }
      img:hover {
         transform: scale(0.9);
         opacity: .3;
      }
      .project-title{
         position: absolute;
         top: 70px;
         width: 100%;
         text-align: center;
         font-size: 60px;
         font-weight: 700;
         z-index: 1000;
         a{
            color: #fff;
            text-shadow: 2px 2px 2px black;
            &:hover{
               text-decoration: none;
            }
         }
      }
   }
}

@media (min-width: @screen-md-min) {
   .projects-container{
      .projects-interior{
         .project-title{
            font-size: 40px;
         }
      }
   }
}

.quote-container {
   height: auto;
   padding: 200px;
   z-index: 0;
   h1{
      font-family: 'Domine', serif;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      color: #666;
   }
}

@media (min-width: @screen-sm-min) {
   .quote-container{
      padding: 200px;
   }
   h1{
      margin-top: 50px;
   }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Blog Page
   ========================================================================== */

.su-posts-featured-loop {
   .su-post {
      padding: 0;
      height: auto;
      .featured-info {
         position: absolute;
         width: 100%;
         text-align: center;
         z-index: 100;
         color: #fff;
         h2{
            font-family: 'Domine', serif;
            font-weight: 400;
            font-size: 30px;
            margin-top: 50px;
            text-shadow: 2px 2px 2px rgba(0,0,0,.8);
            a{
               color: #fff;
            }
         }
         p{
            width: 75%;
            margin: 0 auto;
            font-size: 15px;
            text-shadow: 1px 1px 1px rgba(0,0,0,.5);
         }
      }
      .featured-blog-img {
         z-index: 0;
         padding: 0;
         min-height: 300px;
         max-height: 500px;
         .su-post-thumbnail{
            height: 100%;
            img{
               width: 100%;
               height: auto;
            }
         }
      }
   }
}

@media (min-width: @screen-sm-min) {
   .su-posts-featured-loop {
      .su-post {
         .featured-info {
            h2{
               font-size: 30px;
            }
            p{
               font-size: 18px;
            }
         }
      }
   }
}

@media (min-width: @screen-md-min) {
   .su-posts-featured-loop {
      .su-post {
         .featured-info {
            h2{
               font-size: 60px;
            }
            p{
               font-size: 24px;
            }
         }
      }
   }
}


/* ==========================================================================
   Projects Page
   ========================================================================== */

.su-posts-projects-loop {
   .su-post-thumbnail{
      background: #000;
      img{
         transition: all 0.3s ease-in-out;
      }
      img:hover {
         transform: scale(1.1);
         opacity: .3;
      }
   }
}

.projects-cont {
      width: 100%;
      height: 500px;
      text-align: center;
      background: url("http://placekitten.com/1600/1600") no-repeat;
      background-size: cover;
      background-position: 50%;
      h1{
         padding-top: 230px;
         margin: 0;
         color: #fff;
         font-family: 'Domine', serif;
         text-shadow: 2px 2px 2px rgba(0,0,0,.5);
      }
}

/* ==========================================================================
   Contact Page
   ========================================================================== */

   .contact-us {
      background: #fff;
   }



/* ==========================================================================
   Team Page
   ========================================================================== */

   .team-cont {
      width: 100%;
      height: 500px;
      text-align: center;
      background: url("http://placekitten.com/1290/1290") no-repeat;
      background-size: cover;
      background-position: 50%;
      h1{
         padding-top: 230px;
         margin: 0;
         color: #fff;
         font-family: 'Domine', serif;
         text-shadow: 2px 2px 2px rgba(0,0,0,.5);
      }
   }

   .team-sandbox {
      padding: 50px 0;
   }

   .hexagon {
      overflow: hidden;
      visibility: hidden;
      transform: rotate(120deg);
      cursor: pointer;
   }

   .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
   }

   .hexagon-in2 {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url(http://placekitten.com/400/400);
      visibility: visible;
      transform: rotate(-60deg);
      background-size: 100%;
      transition: .3s ease all;
      a:link, a:hover, a:visited, a:active {
         text-decoration: none;
         color: #fff;
      }
   }

   .team-name {
      color: #FFFFFF;
      font-size: 20px;
      position: absolute;
      text-align: center;
      top: 33%;
      width: 100%;
      transition: .3s ease all;
   }

   .hexagon-in2:hover {
       background-size: 110%;
   }

   .hexagon1 {
       width: 400px;
       height: 200px;
       margin: 0 0 10px -10px;
       float: left;
   }

   .row-2-first{
      margin-top: -100px;
      margin-left: 185px;
   }
   
   .row-2 {
      margin-top: -100px;
   }

   .row-3-first{
      margin-top: -100px;
      margin-left: 185px;
   }
   
   .row-3 {
      margin-top: -100px;
   }

   .row-3-last {
      margin-top: -100px;
      margin-left: 380px;
   }

   .team-member {
      margin: 0 auto; 
      padding: 50px 0;
      background: #fff;
      .byline {
         display: none;
      }
      .team-title {
         width: 100%;
         border-bottom: 5px solid @atomic-blue;
      }
      .team-image{
         margin-right: 10px;
         width: 100%;
         height: 500px;
         background-size: cover;
      }
      blockquote {
         font-family: 'Domine', serif;
         p{
            font-size: 32px;
         }
      }
   }


/* ==========================================================================
   Galaga Game
   ========================================================================== */

.galaga-game {
   text-align: center;
   padding-top: 25px;
   background: #fff;
   #galaga_canvas {
      position: relative;
      margin: 0 auto;
   }
   .galaga-info{
      text-align: left;
      b{
         color: @atomic-red;
      }
   }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
   padding: 0;
}
.hentry footer { }

.single-post-content{
   background: #fff;
}

.blog-image-cont{
   width: 100%;
   height: 500px;
   .blog-image{
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: 50%;
      margin: 0;
      padding: 0;
   }
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   color: #333;
   padding-top: 20px;
   padding-left: 10px;
   background: #fff;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
